html {
    scroll-behavior: smooth;
}

body {
    background-color: #08070E;
    color: whitesmoke;

    margin: 5vh;
    padding: 2em;

    border: 5px solid #d9d9d9;
}

/* WRAPPERS */
.main-wrapper{
    display: grid;
    place-items: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    place-items: center;
}

/* TEXT STYLE */

h1 {
    font-size: 64px;
    margin: 0.5em 0;
}

h2 {
    font-size: 32px;
}

a {
    background-color: #760413;
    color: #d9d9d9;
    
    padding: 0.5em 1em;
}

/* MAIN */

.wrapper-main-linkbuttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;

    width: 75vw;
}

.wrapper-main-linkbuttons > a {    
    font-size: 32px;
    font-weight: bolder;

    margin: 0.5em;
    width: 30%;
}


@media (max-width: 800px) {
    .wrapper-main-linkbuttons {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: auto;
    }

    .wrapper-main-linkbuttons > a {
        font-size: 16px;
    }
}
