html {
    scroll-behavior: smooth;
}

body {
    background-color: #0B0B0B;
    color: whitesmoke;

    margin: 5vh;
    padding: 2em;

    border: 5px solid #d9d9d9;
}

/* WRAPPERS */
.main-wrapper{
    display: grid;
    place-items: center;
}

.subsection-wrapper {
    width: 70%;
    margin: auto;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.content-wrapper > p{
    text-align: center;
}

.content-wrapper > {
    margin-bottom: 1em;
}

@media (max-width: 800px) {
    .subsection-wrapper {
        width: 99%;
    }
}

/* TEXT STYLE */

h1 {
    font-size: 64px;
    margin: 0.5em 0;
}

h2 {
    font-size: 32px;
}

a {
    color: #d9d9d9;
    
}

p {
    margin-bottom: 0.2em;
}

/* HEADER */

#header{
    width: 80vw;
    margin-top:1px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.language-switch {
}

/* MAIN */

#main {
    width: 80vw;
    display: flex;
    flex-direction: column;
}


.wrapper-main-linkbuttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}

.wrapper-main-linkbuttons > a {    
    font-size: 32px;
    font-weight: bolder;

    margin: 0.5em;
    padding: 0.5em 1em;
    width: 30%;
    
    background-color: #760413;

    transition: 0.1s;
}

.wrapper-main-linkbuttons > a:hover {
    margin-top: 0;
    margin-bottom: 1em;

    background-color: #d9d9d9;
    color: #3626A7;
}

/* ABOUT */

.skills-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-flex > div {
    margin: 0.3em;
    padding: 0.5em;
    background-color: #3626A7;
    border-radius: 5px;
}

.skills-flex > div:hover{
    margin-top: 0em;
    margin-bottom: 0.6em;
}

@media (max-width: 800px) {
    .wrapper-main-linkbuttons {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: auto;
    }

    .wrapper-main-linkbuttons > a {
        font-size: 16px;
    }
}

/* PROJECTS */

.project-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #76041350;
    text-decoration: none;

    transition: 0.1s;
}   

.project-wrapper:hover{
    color: #3626A7;
    background-color: #d9d9d9;
}

.project-wrapper-image{
    width: 50%;
    margin: 1em;
}

.project-wrapper-image > img {
    width: 100%;
}

.project-wrapper-description {
    margin: 1em;
    width: 50%;
}

.project-wrapper-imagebutton {
    width: 50px;
    margin: 0.5em;
    filter: saturate(0);
}

.project-wrapper-imagebutton:hover{
    filter: saturate(100%);
}

@media (max-width: 900px) {
    .project-wrapper {
        flex-direction: column;
        justify-items: center;
        margin: 1em;
    }

    .project-wrapper-image {
        width: 100%;
        margin: 0em;
    }

    .project-wrapper-description {
        width: 100%;
        text-align: center;
        margin: 2em 0em;
    }
}


/* CONTACT */

.contact-wrapper {
    display: flex;
    justify-content: space-around;
}

.contact-entry {
    display: grid;
    justify-items: center;

    width: 20vw;
    padding: 2em;

    background-color: #0B0B0B;
    color: #3626A7;
}

.contact-entry:hover{
    background-color: #760413;
    color: #d9d9d9;
}

.contact-entry > img {
    width: 100px;
}

@media (max-width: 900px) {
    .contact-wrapper{
        flex-direction: column;
    }

    .contact-entry {
        width: 100%;
        padding: 0em;
    }

    .contact-entry > img {
        width: 20vw;
    }
}