#project-description{
    width: 85%;
}

/* TITLE */
.project-desc-title > h1, h3{
    margin-bottom: 0.1em;
}


/* DESCRIPTION */
.project-desc-wrapper{
    display: flex;
    justify-content: space-evenly;
}

.project-desc-wrapper > div{
    margin: 1em;
}

/* DESCRIPTION - IMAGE */
.project-desc-image > div{
    margin: 1em;
}

.project-desc-image{
    width: 50%;
    display: grid;
    grid-template-rows: 60% auto auto;
}

.project-desc-image-main > img, video{
    width: 100%;
    height: 100%;
}

.project-desc-image-sub{
    display:flex;
    justify-content: center;
    align-content: center;
}

.project-desc-image-sub > img{
    width: 50%;
}

.project-desc-image-teritary{
    display: flex;
    justify-content: center;
    align-items: center;

}

.project-desc-image-linkimage{
    height: 100%;
    max-width: 100px;
    filter: saturate(0);
    transition: 0.2s;
}

.project-desc-image-linkimage:hover{
    filter: saturate(100%);
}

/* DESCRIPTION - TEXT */
.project-desc-wrapper-text{
    width: 50%;
}
